
.app-container{
  display: flex;
  background: slategray
}
.content {
  width: 100%;
}
.sidebar{
  min-height: 750px;
}
@media only screen and (max-width: 767px) {
  .sidebar {
    display: none; /* Hide the sidebar on mobile devices */
  }
}
.posts{
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.post{
  margin: 2px 10px;
  max-height: 400px;
  max-width: 300px;
}
.post-card{
  margin: 20px 50px;
  background-color: indigo;
  color: white;
}
.createPost{
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
.WelcomeMessage{
  margin: 30px;
}