.app-container{
  display: flex;
}
.content {
  width: 100%;
}
.sidebar{
  min-height: 800px;
}
.posts{
  display: flex;
  justify-content: space-between;
}
.post{
  margin: 2px 10px;
  max-height: 400px;
  max-width: 300px;
}